config DREAM
	tristate "HTC Dream support"
	depends on MACH_TROUT

config INPUT_GPIO
	tristate "GPIO driver support"
	default y
	help
	  Say Y here if you want to support gpio based keys, wheels etc...

config ANDROID_PMEM
	bool "Android pmem"
	default y

